#guess-wrapper
{
    margin: 25px;
}

#guess-wrapper .word-line
{
    margin: 15px auto;
    width: 250px;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

#guess-wrapper .word-line.show
{
    opacity: 1;
}

#guess-wrapper .word-line.current *
{
    border-color: var(--button);
    color: var(--button);
}

#guess-wrapper .letter
{
    width: 45px;
    height: 45px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: top;
    
    border: 2px solid var(--button);
    box-sizing: border-box;

    font-family: sans-serif;
    color: var(--button);
    text-align: center;
    line-height: 45px;
    user-select: none;
    font-size: 30px;
}