.correct
{
    background-color: green;
}

.offset 
{
    background-color: #ffa714;
}

.show
{
    opacity: 1;
}

.disabled
{
    border-color: gray !important;
    color: gray !important;
    user-select: none;
    pointer-events: none;
}

.shadow-letter
{
    color: gray !important;
}