.correct
{
    border-color: var(--correct) !important;
    color: var(--correct) !important;
}

.offset 
{
    border-color: var(--offset) !important;
    color: var(--offset) !important;
}

.show
{
    opacity: 1;
}

.disabled
{
    border-color: var(--disabled) !important;
    color: var(--disabled) !important;
    user-select: none;
    pointer-events: none;
}

.shadow-letter
{
    color: var(--disabled) !important;
}