body
{
    background-color: #011f4b;
}

#guess-wrapper
{
    margin: 25px;
}

.word-line
{
    margin: 15px auto;
    width: 245px;
}

.word-line.current *
{
    border-color: white;
    color: white;
}

.letter
{
    width: 40px;
    height: 40px;
    display: inline-block;
    
    border: 2px solid #b3cde0;

    font-family: sans-serif;
    color: #b3cde0;
    text-align: center;
    line-height: 40px;
    user-select: none;
    font-size: 30px;
}

#keyboard-wrapper
{
    border-top: 3px solid #005b96;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 25%;
}

#keyboard-wrapper > div
{
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 5px;
    
    border: 2px solid white;

    font-family: sans-serif;
    color: white;
    text-align: center;
    line-height: 40px;
    user-select: none;
    font-size: 30px;
    cursor: pointer;
}

#keyboard-wrapper > div:hover
{
    background-color: #6497b1;
}